<div class="card " style="width:600px">
    <div class="card-heading text-white bg-primary">
        <h3 class="card-title">integrator plans List</h3>
    </div>
    <div class="card-body">
        <a [routerLink]="['/integratorplans',0]">New integrator plan</a>
        <br />
        <table id="integratorplans" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>integrator</th>
                    <th>plan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let integratorplan of integratorplans">
                    <td> {{integratorplan.integratorid}}</td>
                    <td> {{integratorplan.planid}}</td>
                    <td>
                        <a [routerLink]="['/integratorplans',integratorplan.integratorplanid]">Update</a>
                        <br />
                        <a [routerLink]="" (click)="delete(integratorplan)">Delete</a>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div>
