<div class="card " style="width:800px">
    <div class="card-heading">

        <h3 class="card-title">Solutions List</h3>
    </div>
    <div class="card-body">
    
        <!-- <div *ngIf="isAdminUser()">
            <label for="Accountid">Account: </label>
            <select class="form-control" name="Accountid" id="Accountid" (change)="OnAccountSelect()"
                style="width:200px" [(ngModel)]="selectAccount">
                <option value=""></option>
                <option *ngFor="let account of accounts" [value]="account.accountid">{{ account.companyname }}</option>
            </select>
            <br />
        </div>
        <label for="Integratorid">Integrator: </label>
        <select class="form-control" name="Integratorid" id="Integratorid" (change)="OnIntegratorSelect()"
            style="width:200px" [(ngModel)]="selectIntegrator">
            <option value=""></option>
            <option *ngFor="let integrator of integratorsFiltered" [value]="integrator.integratorid">{{ integrator.companyname
                }}</option>
        </select>
        <label for="projectid">Project </label>
        <select class="form-control" name="projectid" id="projectid" (change)="FilterRecords()" style="width:200px"
            [(ngModel)]="selectProject">
            <option value=""></option>
            <option *ngFor="let project of projectsFiltered" [value]="project.projectid">{{ project. name }}</option>
        </select>
        <br /><br /> -->
        <table id="solutions" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <!-- <div *ngIf="isAdminUser()">
                        <th>Account</th>
                    </div> -->
                    <th>Name</th>
                    <th>Solution Key</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solution of solutions">
                    <!-- <div *ngIf="isAdminUser()">
                        <td>{{AccountName(license.accountid)}}</td>
                    </div> -->
                 
                    <td> {{solution.name}}</td>
                    <td> {{solution.solutionkey}}</td>
                 

                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <button class="table-link-button" [routerLink]=""  (click)="solutionRoute(solution.solutionid,'/solutions')">Update</button>
                            <button class="table-link-button" [routerLink]="['/solutionpermissions',solution.solutionid]">Permissions</button>
                            <button class="table-link-button" [routerLink]="['/solutionversions',solution.solutionid]">Versions</button>
                            <button class="table-link-button" [routerLink]="['/solutionregistrations',solution.solutionid]">Registrations</button>
                            <button class="table-link-button" [routerLink]="" (click)="delete(solution)">Delete</button>
                        </div>

                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div>
