<div class="card " style="width:800px">
    <div class="card-heading">
        <h3 class="card-title">Integrators List</h3>
    </div>
    <div class="card-body">
      
        <!-- <button class="btn btn-primary btn-sm" [routerLink]="" (click)="integratorRoute(0,'/integrators')">New Integrator</button> -->
        <button class="top-link-button" [routerLink]="" (click)="integratorRoute(0,'/integrators')">New Integrator</button>
        <br/><br/>
        <div *ngIf="isAdminUser()">
            <label for="Accountid">Account: </label>
            <select  class="form-control" name="Accountid" id="Accountid" (change)="OnAccountSelect($event.target.value)" style="width:200px">
                <option value=""></option>
                <option *ngFor="let account of accounts" [value]="account.accountid">{{ account.companyname }}</option>
            </select>
            <br/> <br/>
        </div>
        <table id="integrators" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <div *ngIf="isAdminUser()">
                        <th>Account</th>
                    </div>
                    <th>Company Name</th>
                    <th>Contact Name</th>
                    <th>Phone</th>
                    <th>Integrator Key</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let integrator of integratorsFiltered">
                    <div *ngIf="isAdminUser()">
                        <td>{{AccountName(integrator.accountid)}}</td>
                    </div>
                    <td> {{integrator.companyname}}</td>
                    <td> {{integrator.contactname}}</td>
                    <td> {{integrator.phone}}</td>
                    <td> {{integrator.integratorkey}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <!-- <button class="btn btn-primary" [routerLink]="['/integrator',integrator.integratorid]" } >Update</button> -->
                            <button class="table-link-button" [routerLink]="" (click)="integratorRoute(integrator.integratorid,'/integrators')">Update</button>
                            <button class="table-link-button" [routerLink]="" (click)="delete(integrator)">Delete</button>
                        </div>

                        <!-- <a [routerLink]="['/integrator',integrator.integratorid]">Update</a>
                        <br />
                        <a [routerLink]="" (click)="delete(integrator)">Delete</a> -->
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div>
