<!-- <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="card" style="width:500px">
        <div class="card-heading text-white bg-primary">
            <h3 class="card-title">Forgot Password</h3>
        </div>
        <div class="card-body">
            <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
        </div>
        <div class="card-footer">
            <div *ngIf="form.errors" class="alert alert-danger">{{error}}</div>
            <div class="btn-group" role="group" >
                <button [disabled]="!form.valid" class="bottom-form-button" type="submit">Send</button>
                <button routerLink="/home" class="bottom-form-button" type="button">Cancel</button>
            </div>
        </div>
    </div>

</form> -->

<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="login-form-container">
        <div class="login-form">
            <div class="login-title">
                <p class="login-title-first">Reset Password</p>
                <p class="login-title-second">Reset Password Fill in the email assigned to your account and we will send you a new one. You may then change it as you desire.</p>
            </div>
            <div class="mt-4">
                <input type = "email" placeholder="Email" class="login-input email mt-3" formControlName="email"  > 
            </div>
            <div class="login-footer mt-5">
                <div *ngIf="form.errors" class="alert alert-danger">{{error}}</div>
                
                <div class="mt-4">
                    <button class="btn-login left" type="submit" [disabled]="!form.valid">SEND</button>
                    <button class="btn-login" routerLink="/home">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    
</form>
