<p><b>Please register in order to download ClassiGenius and receive software licenses.</b></p>
<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="card" style="width:500px">
        <!-- <div class="card-heading text-white bg-primary">
            <h3 class="card-title">Landing Page</h3>
        </div> -->
        <div class="card-body">
            <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
        </div>
        <div class="card-footer">
            <div *ngIf="error!=''" class="alert alert-danger">{{error}}</div>
       
            <div class="btn-group" role="group" >
                <button [disabled]="!form.valid" class="bottom-form-button" type="submit">Register</button>
       
                <span class="or-text">Already have an account?</span>

             
                <!-- <button routerLink="/login" class="bottom-form-button" type="button">Login</button> -->
                <button  (click)="login()" class="bottom-form-button" type="button"  id="loginButton">Login</button>
            </div>
          

        </div>
    </div>

</form>

<!-- <script>
    // Send a message to the parent page when the login button is clicked
    var el = document.getElementById("loginButton");
    console.log("el", el);
    document.getElementById("loginButton").addEventListener("click", function () {
        // Send a message to the parent window
        console.log("loginButton clicked");
        window.parent.postMessage("loginClicked", "*");
    });
</script> -->
