<div class="card" style="width:500px;">
    <div class="card-heading">
        <h3 class="card-title">Download</h3>
    </div>

    <div style="padding-left:20px; padding-right:20px; padding-top:20px;">
        <h2><u>Intro Documents</u></h2>

        <table id="downloadsIntro" class="dtable">
            <tbody>
                <tr>
                    <td style="width:400px">ClassiGenius Introductory Sheet</td>
                    <td style="width:50px"><button class="download-button"
                            (click)="downloadIntroductorySheet()">Download</button></td>
                </tr>
                <br />
                <tr>
                    <td style="width:400px">ClassiGenius Quick Starter Guide</td>
                    <td style="width:50px"><button class="download-button"
                            (click)="downloadQuickStarterGuide()">Download</button></td>
                </tr>
            </tbody>
        </table>

        <br />
        <h2><u>Software Downloads</u></h2>

        <table id="downloadsSoftware" class="dtable">
            <tbody>
                <tr>
                    <td style="width:400px">ClassiGenius for Windows Version: October 23, 2023</td>
                    <td style="width:50px"><button class="download-button"
                            (click)="downloadSoftware()">Download</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
</div>