.download-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-description {
    flex: 1;
}

.download-button {
    margin-left: 10px;
    background-color: #0074d9;
    margin-right: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}

.top-link-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.second-column {
    width: 50px; /* Set the desired width */
  }

.dtable {
    border: none;
}