<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card" style="width:1300px">
        <div class="card-heading">
            <h3 class="card-title">License Purchase</h3>
        </div>
        <div class="card-body">
            <formly-form [model]="licensePurchase" [fields]="fields" [form]="form"></formly-form>
        </div>
        <div class="card-footer">
            <div *ngIf="form.errors" class="alert alert-danger">
                Some fields are invalid
            </div>
            <div class="btn-group" role="group">
                <button [disabled]="!form.valid" class="bottom-form-button" type="button" (click)="AddToCart()">Pay Now</button>
                <button routerLink="/licenses" class="bottom-form-button" type="button">Cancel</button>
            </div>
        </div>
    </div>

</form>
