
<style>
    /* Define font sizes for different elements */
    h1 {
        font-size: 24px; /* Change this value to adjust the heading font size */
    }

    p {
        font-size: 16px; /* Change this value to adjust the paragraph font size */
    }

    ul li {
        font-size: 14px; /* Change this value to adjust the list item font size */
    }
</style>
<div class="card" style="width:700px">
   <div class="card-heading ">
        <h3 class="card-title">Home</h3>
    </div>
    <div class="card-body">
        <div style="margin-left: 30px;">
            <!-- <h1>Welcome to ClassiGenius Developers' Portal</h1> -->
            <h3 class="card-title">Welcome to ClassiGenius Developers' Portal.</h3>
            <p>Here you will find everything you need to integrate ClassiGenius into your organization:</p>
            <p></p>
          
            <ul>
                <li>
                    <b>Explanation about ClassiGenius terminology:</b> look on <a href="/#/download">Download page </a> for the 2-pages document
                    "ClassiGenius Introductory Sheet".
                </li>
                <br/>
                <li>
                    <b>Explanation about "how to" do the basic missions:</b> look on <a href="/#/download">Download page</a> for the document
                    "ClassiGenius Quick Starter Guide".
                </li>
                <br/>
                <li>
                    <b>Finding your integrator ID or changing your details:</b> look on <a href="/#/accountuser">Account Details page</a> .
                </li>
                <br/>
                <li>
                    <b>Create Trial Licenses or extend licenses:</b> look on <a href="/#/licenses">Licenses page</a>.
                </li>
                <br/>
                <li>
                    <b>Buy licenses:</b> look on the <a href="/#/multilicensepurchase">Buy Now page</a>.
                </li>
                <br/>
                <li>
                    <b>Support:</b> send an email to <a href="mailto:help@classigenius.com">help@classigenius.com</a>.
                </li>
            </ul>
        </div>
    </div>

</div>